/* styles.css */
@import "header.css";
@import "perfil.css";
@import "experiencia.css";
@import "certificaciones.css";
@import "proyectos.css";
@import "contacto.css";
@import "footer.css";
@import "publicaciones.css";
@import "skills.css";
@import "blog.css";


@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-bg-light: #0e1117;
    --color-text-light: #F1EFEC;
    --color-footer-bg-light: #1a1e24;
    
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --color-bg-light: #f9fafb;
    --color-text-light: #0b418c;
    --color-footer-bg-light: #F1EFEC;
  }
}

:root {
  --color-bg-dark: #0e1117;
  --color-text-dark: #F1EFEC;
  --color-footer-bg-dark: rgba(16, 20, 28, 0.95);
  --color-accent: #0c4a8d; /*00bcd4*/
  --color-box-background: #1f2937;

  --blur: 10px;
  --transition-speed: 0.3s;
  --header-bg-light: #F1EFEC;
  --header-bg-dark: rgba(16, 20, 28, 0.95);
  --header-text-light: #1f2937;
  --header-text-dark: #ffffff;
  --nav-active-bg: rgba(31, 2, 20, 0.1);
  --nav-active-line: #00bcd4;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  transition: background-color var(--transition-speed), color var(--transition-speed);
  line-height: 1.6;
}

body.dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

.section {
  padding: 4rem 2rem;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease forwards;
}

.section:nth-of-type(2) {
  animation-delay: 0.2s;
}
.section:nth-of-type(3) {
  animation-delay: 0.4s;
}
.section:nth-of-type(4) {
  animation-delay: 0.6s;
}
.section:nth-of-type(5) {
  animation-delay: 0.8s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .container {
  max-width: 960px;
  margin: 0 auto;
} */
.container {
  max-width: 2060px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: 500;
}



h1, h2, h3 {
  color: var(--color-accent);
  font-size:x-large;
  margin-bottom: 1rem;
  text-align: center;
}

